$base-color-red: #da1c1c;
$base-color-red-orange: #f44336;
$base-color-pink: #ff007f; //e91e63
$base-color-purple: #9c27b0;
$base-color-deep-purple: #673ab7;
$base-color-blue: #007fff; //2196f3
$base-color-light-blue: #03a9f4;
$base-color-cyan: #00bcd4;
$base-color-teal: #009688;
$base-color-green: #5cb85c; //#4caf50
$base-color-light-green: #9acd32; //90c446
$base-color-lime: #cddc39;
$base-color-yellow: #ffeb3b;
$base-color-amber: #ffc107;
$base-color-orange: #ff9800;
$base-color-deep-orange: #ff5722;
$base-color-brown: #795548;
$base-color-grey: #9e9e9e;
$base-color-blue-grey: #607d8b;
$base-color-black: #333;
$base-color-white: #fff;


$base-colors: (
  red: #da1c1c,
  red-orange: #f44336,
  pink: #ff007f,
  purple: #9c27b0,
  deep-purple: #673ab7,
  blue: #007fff,
  light-blue: #03a9f4,
  cyan: #00bcd4,
  teal: #009688,
  green: #5cb85c,
  light-green: #9acd32,
  lime: #cddc39,
  yellow: #ffeb3b,
  amber: #ffc107,
  orange: #ff9800,
  deep-orange: #ff5722,
  brown: #795548,
  grey: #9e9e9e,
  blue-grey: #607d8b,
  black: #333,
  white: #fff,
);