# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer
composer.phar
# composer.lock should not be committed as we always want the latest versions
/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# prepros itself is not needed
prepros.cfg

/assets
/backup
/runtime
/uploads
/config/local.php

