/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2016, 4:23:05 PM
    Author     : Minh
*/

.diy-draggable, .diy-row-icon-tool {
	border: dashed 1px steelblue;
	padding: 8px;
	cursor: pointer;
	margin:5px;
}

.diy-dropable {
	min-height:20px;
	border:dotted 1px steelblue;
}

.diy-tool-bar {
	position: fixed;
    right: 20px;
    width: 150px;
    border: 1px solid lightsteelblue;
	background-color: white;
}

.diy-fixed {
	position: fixed;
    right: 20px;
}

.diy-tool-bar-title {
	background-color: lightsteelblue;
	color: white;
	font-weight: bold;
	padding:6px;
}

.diy-style {
	border: dashed 1px steelblue;
	padding: 8px;
	cursor: pointer;
	margin:5px;
}

.btn-circle.btn-lg {
    border-radius: 25px;
    font-size: 18px;
    height: 50px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 50px;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}
.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;
}
.btn {
    border-radius: 3px;
}