.hidden {
  display: none;
}

.dropdown-inline {
  display: inline-block;
}



.ibox-title-lft {
  float: left;
}
.ibox-title-rgt {
  float: right;
}



.vii-form {
  .nav-tabs > li.active > a {
    &,
    &:hover,
    &:focus {
      border-bottom-color: #fff !important;
    }
  }
}

.vii-table > tbody > tr > td {
  vertical-align: middle !important;
}


.i18n-flag {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;
}
.i18n-flag-en {
  background-image: url('../img/flag/16/en.png');
}
.i18n-flag-vi {
  background-image: url('../img/flag/16/vi.png');
}

.category-view .i18n-flag {
  height: 32px !important;
}

