.hidden {
  display: none;
}

.dropdown-inline {
  display: inline-block;
}



.ibox-title-lft {
  float: left;
}
.ibox-title-rgt {
  float: right;
}



.vii-form {
  .nav-tabs > li.active > a {
    &,
    &:hover,
    &:focus {
      border-bottom-color: #fff !important;
    }
  }
}

.vii-table > tbody > tr > td {
  vertical-align: middle !important;
}

