/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2016, 10:52:01 AM
    Author     : Minh Nguyen
*/

table.vii-detail-view th {
    color: gray;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    width: 100px;
}

table.vii-detail-view td {
    font-weight: bold;
}